@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.Button {
  border: none;
  padding: 0.8rem 1.5rem;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.8px;
  transition: 0.5s ease;
  cursor: pointer;
}
